{% extends 'base.html' %}

{% block title %}Admin View{% endblock %}

{% block body %}
  <div class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- Navbar links on the left -->
        <div class="navbar-nav flex-row flex-nowrap flex-shrink-0">
          <a class="nav-link px-3" aria-current="page" href="/admin/dashboard">Home</a>
          <span class="navbar-text text-white">|</span>
          <a class="nav-link px-3" href="/admin/quizes">Quizes</a>
          <span class="navbar-text text-white">|</span>
          <a class="nav-link px-3" href="/admin/summary">Summary</a>
          <span class="navbar-text text-white">|</span>
          <a class="nav-link px-3" href="/logout">Logout</a>
        </div>
        
        <!-- Right-aligned elements -->
        <div class="d-flex align-items-center">
          <!-- Search Form -->
          <form class="d-flex me-3" action="/admin/search" method="GET">
            <div class="input-group">
              <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </div>
          </form>
          
          <!-- Welcome Message -->
          <span class="navbar-text">Welcome {% if user %}{{ user.full_name }}{% else %}User{% endif %}</span>
        </div>
      </div>
    </nav>
    <main class="flex-grow-1 container py-4">
      {% block content %}Nothing...{% endblock %}
    </main>
  </div>
{% endblock %}